fastapi
uvicorn[standard]
langchain
langchain-huggingface
chromadb
transformers
sentence-transformers
pypdf
loguru
python-dotenv
streamlit
httpx
requests
pandas
pydantic
typing-extensions
openai
together
langchain_comminity